<%- include('extras/header') %>
      <main>
      <div class="recent-order">
        <h2>Recent Orders</h2>
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Description</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hand bag</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      </main>
<%- include('extras/footer') %>
